<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <!--<authentication mode="Forms">
          <forms loginUrl="login.aspx" />
      </authentication>
      <authorization>
          <deny users="?" />
      </authorization>-->
    <!--<globalization
    requestEncoding="Windows-1255"
    responseEncoding="Windows-1255"/>-->
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <!--<add name="dbDataConnectionString" connectionString="Data Source=62.219.78.230;Initial Catalog=ofek770_co_il_tzahi;Persist Security Info=True;User ID=ofek770_co_il_tzahi;Password=Jadekia556" providerName="System.Data.SqlClient" />  -->

    <add name="dbDataConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-O82A27N;Initial Catalog=Ofek;Integrated Security=True" />
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <!--<add name="X-UA-Compatible" value="IE=EmulateIE8"/>-->
        <!-- IE8 rendering different from iis7 on ie7 and ie8 -->
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="Default.htm"/>
        <remove value="Default.asp"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <add value="Loginmain.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>